/******************************************** CARE *************************************/
.care__block .care__list-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.care__block .care__list-box .care__list-item-first {
  border-right: 1px solid rgba(70, 163, 88, 0.1);
}
.care__block .care__list-box .care__list-item-second {
  border-right: 1px solid rgba(70, 163, 88, 0.1);
}
.care__block .care__list-box .care__list-item-second .care__image-block-figure .care__first-svg {
  transform: translateX(10px);
}
.care__block .care__list-box .care__list-item-third .care__image-block-figure-third .care__first-svg {
  transform: translate(17px, 3px);
}
.care__block .care__list-box .care__list-item-third .care__image-block-figure-third .care__second-svg {
  transform: translateX(-8px);
}
.care__block .care__list-box .care__list-item {
  width: 21.25%;
}
.care__block .care__list-box .care__list-item .care__block-inside .care__block-image {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
.care__block .care__list-box .care__list-item .care__block-inside .care__block-image .care__block-ellips {
  transform: translateY(22px);
}
.care__block .care__list-box .care__list-item .care__block-inside .care__block-image .care__image-block-figure {
  display: flex;
  transform: translateX(-63px);
  flex-direction: column;
}
.care__block .care__list-box .care__list-item .care__block-inside .care__list-item-header {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 16px; /* 94.118% */
}
.care__block .care__list-box .care__list-item .care__block-inside .care__list-item-description {
  color: #727272;
  font-family: Cera Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  width: 79%;
}
.care__block .care__list-box .care__list-item-four .care__list-item-block-search .care__block-search-header {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 16px; /* 88.889% */
}
.care__block .care__list-box .care__list-item-four .care__list-item-block-search form {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.care__block .care__list-box .care__list-item-four .care__list-item-block-search form input {
  padding: 12px 25px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
  width: 83%;
  /* background: #FFF; */
  height: 55px;
}
.care__block .care__list-box .care__list-item-four .care__list-item-block-search form input:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.care__block .care__list-box .care__list-item-four .care__list-item-block-search form button {
  border-radius: 0px 6px 6px 0px;
  background: #46A358;
  width: 30%;
  color: #FFF;
  font-family: Cera Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
}
.care__block .care__list-box .care__list-item-four .care__list-item-block-search form button:hover {
  cursor: pointer;
  opacity: 0.7;
  background: rgba(70, 163, 88, 0.9019607843);
  transition: all 0.3s ease-in-out;
}
.care__block .care__list-box .care__list-item-four .care__list-item-block-search .care__block-search-description {
  color: #727272;
  font-family: Cera Pro;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.care {
  margin-bottom: 50px;
}/*# sourceMappingURL=care.css.map */