.item__main-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0px;
    align-items: center;
    margin-bottom: 70px;
    @media(max-width: 900px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
    }
    @media(max-width: 576px) {
      margin-bottom: 30px;
    }
    .item__block-slider-image  {
        display: flex;
        flex-direction: column;
        @media(max-width: 900px) {
          display: none;
        }
        .item-image-slide {
            width: 120px;
            height: 120px;
            margin-bottom: 35px;
            &:hover {
              cursor: pointer;
            }
        }
    }
    .item__block-active-image {
      @media(max-width: 1200px) {
        img {
          width: 300px;
          height: 300px;
        }
      }
      @media(max-width: 900px) {
        display: none;
      }
        .item__active-image {
            width: 500px;
            height: 500px;
        }
    }
    .item__block-summary-images-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 70px;
      @media(min-width: 900px) {
        display: none;
      }
      @media(max-width: 576px) {
        display: none;
      }
      .item__block-slider-image-desc {
        display: flex;
        flex-direction: column;
        width: 20%;
        .item-image-slide-desc {
          width: 120px;
            height: 120px;
            &:not(:last-child) {
                margin-bottom: 35px;
            }
            &:hover {
              cursor: pointer;
            }
        }
    }
    .item__block-active-image-desc {
      width: 70%;
      margin-bottom: 100px;
      .item__main-image-desc {

      }
    }
  }
  .item__block-summary-images-main-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 70px;
    @media(min-width: 576px) {
      display: none;
    }
    .basket__block-go-back {
      position: absolute;
      top: -31px;
      @media(min-width: 576px) {
          display: none;
      }
      .basket__btn-back {
          .basket__image-back {
              border-radius: 50%;
              z-index: 1000;
              position: absolute;
              border: 1px solid #80808078;
              background: #f3f3f3;
              color: grey;
              padding: 5px;
              width: 33px;
              height: 33px;
          }
      }
  }
  }
    .item__product-description-short {
        width: 48%;
        @media(max-width: 900px) {
          width: 100%;
        }
        @media(max-width: 576px) {
          display: none;
        }
        .item__product-header {
          @media(max-width: 576px) {
            border-radius: 31px 31px 31px 31px;
            background: #FFF;
            padding: 25px 15px;
            //box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
            box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);
          }
            .item__header-product-modal {
              @media(max-width: 576px) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              }
                .item__product-head {
                    color: #3D3D3D;
                    font-family: Cera Pro;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    margin-bottom: 35px;
                    line-height: 16px;
                }
            }
            .item__product-stars {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid rgba(70, 163, 88, 0.50);
                padding-bottom: 30px;
                margin-bottom: 30px;
                @media(max-width: 576px) {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  border-bottom: none;
                  margin-bottom: 30px;
                }
                .item__salary-description {
                    .item__salary-description-item {
                        color: #46A358;
                        font-family: Cera Pro;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 16px;
                        @media(max-width: 576px) {
                          display: none;
                        }
                    }
                }
                .item__star {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    @media(max-width: 576px) {
                      display: none;
                    }
                    .item__star-inside {
                        margin-right: 25px;
                        display: flex;
                    }
                    .item__star-description {
                        color: #3D3D3D;
                        font-family: Cera Pro;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                    }
                }
                .item__star-mobile {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  @media(min-width: 576px) {
                    display: none;
                  }
                  .item__star-inside-mobile {
                      margin-right: 25px;
                      display: flex;
                      align-items: unset;
                      border-radius: 32px;
                      border: 1px solid #46A358;
                      padding: 5px 5px;
                      .item__frst-span {
                        color: #3D3D3D;
                        font-family: "Cera Pro";
                        font-size: 14px;
                        margin-right: 6px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 16px; /* 114.286% */
                      }
                      .item__second-span {
                        color: #727272;
                        font-family: "Cera Pro";
                        font-size: 14px;
                        font-style: normal;
                        margin-right: 6px;
                        font-weight: 400;
                        line-height: 16px; /* 114.286% */
                      }
                  }
                  .item__star-description-mobile {
                      color: #3D3D3D;
                      font-family: Cera Pro;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 16px;
                  }
              }
            }
            .item__math {
                .item__description-shorts {
                    .item__header-description-shorts {
                        color: #3D3D3D;
                        font-family: Cera Pro;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        margin-bottom: 25px;
                        line-height: 16px;
                    }
                    .item__description-shorts-main {
                        color: #727272;
                        font-family: Cera Pro;
                        font-size: 16px;
                        letter-spacing: 0.6px;
                        font-style: normal;
                        font-weight: 400;
                        margin-bottom: 25px;
                        line-height: 24px;
                    }
                }
                .item__amount {
                    margin-bottom: 30px;
                    .item__amount-header {
                        color: #3D3D3D;
                        font-family: Cera Pro;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        margin-bottom: 10px;
                        line-height: 16px; 
                    }
                }
                .item__amount-count-buttons {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 30px;
                    @media(max-width: 1020px) {
                      display: flex;
                      align-items: flex-start;
                      flex-direction: column;
                      margin-bottom: 30px;
                    }
                    @media(max-width: 576px) {
                      display: none;
                    }
                    .item__amount-count-inside {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      margin-right: 40px;
                      @media(max-width: 1020px) {
                        margin-bottom: 30px;
                      }
                      .item__amount-minus {
                        border-radius: 29px;
                        background: linear-gradient(180deg, #46A358 0%, rgba(70, 163, 88, 0.80) 100%);
                        padding: 6px 11.6px;
                        /* width: 40px; */
                        font-size: 16px;
                        margin-right: 10px;
                        color: #fff;
                        &:hover {
                          color: #46A358;
                          background: #fff;
                          outline: 1px solid #46A358;
                          cursor: pointer;
                          transition: all .3s ease-in-out;
                        }
                      }
                      .item__amount-item {
                        color: #3D3D3D;
                        font-family: Cera Pro;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 10px;
                      }
                      .item__amount-add {
                        margin-left: 10px;
                        border-radius: 29px;
                        background: linear-gradient(180deg, #46A358 0%, rgba(70, 163, 88, 0.80) 100%);
                        padding: 6px 10px;
                        /* width: 40px; */
                        font-size: 16px;
                        color: #fff;
                        &:hover {
                          color: #46A358;
                          background: #fff;
                          outline: 1px solid #46A358;
                          cursor: pointer;
                          transition: all .3s ease-in-out;
                        }
                      }
                    }
                    .item__product-buy {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        .item__product-button-buy {
                          color: #FFF;
                          font-family: Cera Pro;
                          font-size: 18px;
                          font-style: normal;
                          font-weight: 700;
                          line-height: 20px;
                          text-align: center;
                          text-transform: uppercase;
                          border-radius: 6px;
                          background: #46A358;
                          padding: 8px 15px;
                          margin-right: 15px;
                          &:hover {
                            color: #46A358;
                            background-color: #fff;
                            outline: 1px solid #46A358;
                            cursor: pointer;
                            transition: all .3s ease-in-out;
                          }
                        }
                        .item__product-button-add {
                          color: #46A358;
                          font-family: Cera Pro;
                          font-size: 18px;
                          font-style: normal;
                          font-weight: 700;
                          line-height: 20px;
                          text-align: center;
                          text-transform: uppercase;
                          border-radius: 6px;
                          background: #fff;
                          padding: 8px 15px;
                          margin-right: 15px;
                          border: 1px solid #46A358;
                          &:hover {
                            cursor: pointer;
                            color: #fff;
                            background-color: #46A358;
                            transition: all .3s ease-in-out;
                          }
                        }
                        .item__product-button-heart {
                
                        }
                      }
                  }
            }
            .item__tags {
                display: flex;
                flex-direction: column;
                margin-bottom: 25px;
                .item__description-sku {
                  display: flex;
                  margin-bottom: 10px;
                  flex-direction: row;
                  .item__description-sku-name {
                    color: #A5A5A5;
                    font-family: Cera Pro;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    margin-right: 10px;
                  }
                  .item__description-sku-value {
                    color: #727272;
                    font-family: Cera Pro;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                  }
                }
                .item__description-category {
                  display: flex;
                  flex-direction: row;
                  margin-bottom: 10px;
                  .item__description-category-name {
                    color: #A5A5A5;
                    font-family: Cera Pro;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    margin-right: 10px;
                    line-height: 16px;
                  }
                  .item__description-category-value {
                    color: #727272;
                    font-family: Cera Pro;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                  }
                }
                .item__description-tag {
                  display: flex;
                  flex-direction: row;
                  margin-bottom: 10px;
                  .item__description-tag-name {
                    color: #A5A5A5;
                    font-family: Cera Pro;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    margin-right: 10px;
                    line-height: 16px;
                  }
                  .item__description-tag-value {
                    color: #727272;
                    font-family: Cera Pro;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                  }
                }
              }
              .item__social {
                display: flex;
                flex-direction: row;
                align-items: center;
                .item__social-name {
                  margin-right: 30px;
                  .item__social-description {
                    color: #3D3D3D;
                    font-family: Cera Pro;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16px; /* 106.667% */
                  }
                }
                .item__social-icons {
                  .item__social-buttons {
                    width: 20px;
                    height: 20px;
                    svg {
                        width: 100%;
                        height: 100%;
                    }
                    &:not(:last-child) {
                      margin-right: 10px;
                    }
                  }
                }
              }
            }
        }
        .item__product-description-short-mobile {
          width: 48%;
          @media(max-width: 900px) {
            width: 100%;
          }
          @media(min-width: 576px) {
            display: none;
          }
          .item__product-header {
            @media(max-width: 576px) {
              border-radius: 31px 31px 31px 31px;
              background: #FFF;
              padding: 25px 15px;
              //box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
              box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);
            }
              .item__header-product-modal {
                @media(max-width: 576px) {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                }
                  .item__product-head {
                      color: #3D3D3D;
                      font-family: Cera Pro;
                      font-size: 32px;
                      font-style: normal;
                      font-weight: 700;
                      margin-bottom: 35px;
                      line-height: 16px;
                      @media(max-width: 414px) {
                        line-height: 35px;
                        width: 58%;
                      }
                  }
              }
              .item__product-stars {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  border-bottom: 1px solid rgba(70, 163, 88, 0.50);
                  padding-bottom: 30px;
                  margin-bottom: 30px;
                  @media(max-width: 576px) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: none;
                    margin-bottom: 30px;
                  }
                  .item__salary-description {
                      .item__salary-description-item {
                          color: #46A358;
                          font-family: Cera Pro;
                          font-size: 22px;
                          font-style: normal;
                          font-weight: 700;
                          line-height: 16px;
                          @media(max-width: 576px) {
                            display: none;
                          }
                      }
                  }
                  .item__star {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      @media(max-width: 576px) {
                        display: none;
                      }
                      .item__star-inside {
                          margin-right: 25px;
                          display: flex;
                      }
                      .item__star-description {
                          color: #3D3D3D;
                          font-family: Cera Pro;
                          font-size: 18px;
                          font-style: normal;
                          font-weight: 400;
                          line-height: 16px;
                      }
                  }
                  .item__star-mobile {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    @media(min-width: 576px) {
                      display: none;
                    }
                    .item__star-inside-mobile {
                        margin-right: 25px;
                        display: flex;
                        align-items: unset;
                        border-radius: 32px;
                        border: 1px solid #46A358;
                        padding: 5px 5px;
                        .item__frst-span {
                          color: #3D3D3D;
                          font-family: "Cera Pro";
                          font-size: 14px;
                          margin-right: 6px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 16px; /* 114.286% */
                        }
                        .item__second-span {
                          color: #727272;
                          font-family: "Cera Pro";
                          font-size: 14px;
                          font-style: normal;
                          margin-right: 6px;
                          font-weight: 400;
                          line-height: 16px; /* 114.286% */
                        }
                    }
                    .item__star-description-mobile {
                        color: #3D3D3D;
                        font-family: Cera Pro;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                    }
                }
              }
              .item__math {
                  .item__description-shorts {
                      .item__header-description-shorts {
                          color: #3D3D3D;
                          font-family: Cera Pro;
                          font-size: 18px;
                          font-style: normal;
                          font-weight: 500;
                          margin-bottom: 25px;
                          line-height: 16px;
                      }
                      .item__description-shorts-main {
                          color: #727272;
                          font-family: Cera Pro;
                          font-size: 16px;
                          letter-spacing: 0.6px;
                          font-style: normal;
                          font-weight: 400;
                          margin-bottom: 25px;
                          line-height: 24px;
                      }
                  }
                  .item__amount {
                      margin-bottom: 30px;
                      .item__amount-header {
                          color: #3D3D3D;
                          font-family: Cera Pro;
                          font-size: 18px;
                          font-style: normal;
                          font-weight: 500;
                          margin-bottom: 10px;
                          line-height: 16px; 
                      }
                  }
                  .item__amount-count-buttons {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      margin-bottom: 30px;
                      @media(max-width: 1020px) {
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        margin-bottom: 30px;
                      }
                      @media(max-width: 576px) {
                        display: none;
                      }
                      .item__amount-count-inside {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-right: 40px;
                        @media(max-width: 1020px) {
                          margin-bottom: 30px;
                        }
                        .item__amount-minus {
                          border-radius: 29px;
                          background: linear-gradient(180deg, #46A358 0%, rgba(70, 163, 88, 0.80) 100%);
                          padding: 6px 11.6px;
                          /* width: 40px; */
                          font-size: 16px;
                          margin-right: 10px;
                          color: #fff;
                        }
                        .item__amount-item {
                          color: #3D3D3D;
                          font-family: Cera Pro;
                          font-size: 20px;
                          font-style: normal;
                          font-weight: 400;
                          line-height: 10px;
                        }
                        .item__amount-add {
                          margin-left: 10px;
                          border-radius: 29px;
                          background: linear-gradient(180deg, #46A358 0%, rgba(70, 163, 88, 0.80) 100%);
                          padding: 6px 12px;
                          /* width: 40px; */
                          font-size: 16px;
                          color: #fff;
                        }
                      }
                      .item__product-buy {
                          display: flex;
                          flex-direction: row;
                          justify-content: flex-start;
                          align-items: center;
                          .item__product-button-buy {
                            color: #FFF;
                            font-family: Cera Pro;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 20px;
                            text-align: center;
                            text-transform: uppercase;
                            border-radius: 6px;
                            background: #46A358;
                            padding: 8px 15px;
                            margin-right: 15px;
                            &:hover {
                              color: #46A358;
                              background-color: #fff;
                              border: 1px solid #46A358;
                              cursor: pointer;
                              transition: all .3s ease-in-out;
                            }
                          }
                          .item__product-button-add {
                            color: #46A358;
                            font-family: Cera Pro;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 20px;
                            text-align: center;
                            text-transform: uppercase;
                            border-radius: 6px;
                            background: #fff;
                            padding: 8px 15px;
                            margin-right: 15px;
                            border: 1px solid #46A358;
                            &:hover {
                              cursor: pointer;
                              color: #fff;
                              background-color: #46A358;
                              transition: all .3s ease-in-out;
                            }
                          }
                          .item__product-button-heart {
                  
                          }
                        }
                    }
              }
              .item__tags {
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 25px;
                  .item__description-sku {
                    display: flex;
                    margin-bottom: 10px;
                    flex-direction: row;
                    .item__description-sku-name {
                      color: #A5A5A5;
                      font-family: Cera Pro;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 16px;
                      margin-right: 10px;
                    }
                    .item__description-sku-value {
                      color: #727272;
                      font-family: Cera Pro;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 16px;
                    }
                  }
                  .item__description-category {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    .item__description-category-name {
                      color: #A5A5A5;
                      font-family: Cera Pro;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 400;
                      margin-right: 10px;
                      line-height: 16px;
                    }
                    .item__description-category-value {
                      color: #727272;
                      font-family: Cera Pro;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 16px;
                    }
                  }
                  .item__description-tag {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    .item__description-tag-name {
                      color: #A5A5A5;
                      font-family: Cera Pro;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 400;
                      margin-right: 10px;
                      line-height: 16px;
                    }
                    .item__description-tag-value {
                      color: #727272;
                      font-family: Cera Pro;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 16px;
                    }
                  }
                }
                .item__social {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  .item__social-name {
                    margin-right: 30px;
                    .item__social-description {
                      color: #3D3D3D;
                      font-family: Cera Pro;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: 16px; /* 106.667% */
                    }
                  }
                  .item__social-icons {
                    .item__social-buttons {
                      width: 20px;
                      height: 20px;
                      svg {
                          width: 100%;
                          height: 100%;
                      }
                      &:not(:last-child) {
                        margin-right: 10px;
                      }
                    }
                  }
                }
              }
          }
    }
    .item__social-mail {
        transform: translateY(4.6px);
        width: 24px !important;
        height: 26px !important;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .item__social-twitter {
        transform: translateY(1.6px);
    }
    // .splide__pagination {
    //   bottom: -3.5em;
    // }
    .item__product-button-heart {
      border: 1px solid #46A358;
      display: flex;
      padding: 4px;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    .item__star-inside-image {
      width: 12px;
      height: 12px;
    }
    .item__star-no-fill {
      width: 15px;
      height: 15px;
    }
    .item__star-no-fill-mobile {
      width: 15px;
      height: 15px;
      margin-right: 6px;
    }
    .item-image-slide-active {
      width: 120px;
      margin-bottom: 35px;
      height: 120px;
      outline: 1px solid #46A358
    }

    .item__block-slider-image-mobile {
      width: 100%;
      .item__block-slider-image-mobile {
        .item__block-slider-image-desc {

        }
      }
    }
    .item__block-slider-image-mob {
      .splide {
        .splide__pagination {
          bottom: -0.5em;
        }
        .splide__track {
          .splide__list {
            .splide__slide {
              display: flex;
              flex-direction: row;
              justify-content: center;
            }
          }
        }
      }
    }
    .item__mobile-block-main {
      width: 100%;
      position: fixed;
      bottom: 0;
      padding: 30px;
      display: flex;
      flex-direction: column;
      z-index: 1000;
      border-radius: 40px 40px 0px 0px;
      background: #FFF;
      box-shadow: 0px 0px 20px 0px rgba(205, 205, 205, 0.30);
      left: 0;
      .item__mobile-block-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
        .item__mobile-block-quantity {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          .item__mobile-quantity {
            margin-right: 15px;
            color: #727272;
            font-family: "Cera Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 106.667% */
          }
          .basket__count-product-buttons-block {
            width: 15%;
            @media(max-width: 576px) {
                width: 25%;
                display: flex;
                align-items: end;
            }
            @media(max-width: 380px) {
                margin-top: 20px;
                margin-bottom: 0px;
            }
            .basket__count-product-buttons-inside {
                display: flex;
                flex-direction: row;
                align-items: center;
                .basket__count-decrement {
                    border-radius: 29px;
                    background: linear-gradient(180deg, #46A358 0%, rgba(70, 163, 88, 0.8) 100%);
                    padding: 5px 11px;
                    /* width: 40px; */
                    font-size: 13px;
                    margin-right: 10px;
                    color: #fff;
                    &:hover {
                        cursor: pointer;
                        color: #46A358;
                        background: #fff;
                        border: 1px solid #46A358;
                    }
                }
                .basket__product-amount {
                    color: #3D3D3D;
                    font-family: Cera Pro;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 10px;
                }
                .basket__count-increment {
                    margin-left: 10px;
                    border-radius: 29px;
                    background: linear-gradient(180deg, #46A358 0%, rgba(70, 163, 88, 0.8) 100%);
                    padding: 5px 10px;
                    /* width: 40px; */
                    font-size: 13px;
                    color: #fff;
                    &:hover {
                        cursor: pointer;
                        color: #46A358;
                        background: #fff;
                        border: 1px solid #46A358;
                    }
                }
            }
          }
        }
        .item__block-price-mobile {
          .item__mobile-price-product {
            color: #46A358;
            text-align: right;
            font-family: "Cera Pro";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px; /* 80% */
          }
        }
      }
      .item__block-mobile-add-products {
        .item__mobile-buy-now-product {
          color: #FFF;
          margin-right: 15px;
          font-family: "Cera Pro";
          font-size: 18px;
          padding: 20px 64px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px; /* 125% */
          border-radius: 40px;
          background: linear-gradient(93deg, #46A358 -3.96%, rgba(70, 163, 88, 0.80) 121.97%);
          box-shadow: 0px 10px 20px 0px rgba(70, 163, 88, 0.30);
        }
        .item__mobile-add-basket {
          border-radius: 40px;
          padding: 20px;
          background: #F6F6F6;
        }
      }
    }
    .ii {
      width:  110px;
      height: 110px;
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }

    .item__block-slider-image-descrt {
      display: flex;
      flex-direction: column;
      width: 20%;
      .item-image-slide-desc {
        width: 110px;
          height: 110px;
          &:not(:last-child) {
              margin-bottom: 35px;
          }
          &:hover {
            cursor: pointer;
          }
      }
      .item-image-slide-active-des {
        width: 110px;
      height: 110px;
      outline: 1px solid #46A358
      }
  }
  