/******************************* SECTION OPTIONS **************************/
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 150px;
}
.options .options__block-first {
  display: flex;
  width: 47%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.options .options__block-first .img {
  width: 41%;
}
.options .options__block-first .options__block-first-inside {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.options .options__block-first .options__block-first-inside .options__block-first-header {
  color: #3D3D3D;
  text-align: center;
  font-family: Cera Pro;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  text-align: end;
  margin-bottom: 19px;
}
.options .options__block-first .options__block-first-inside .options__block-first-description {
  color: #727272;
  text-align: center;
  font-family: Cera Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-align: end;
  margin-bottom: 55px;
}
.options .options__block-first .options__block-first-inside .options__block-btn {
  color: #FFF;
  font-family: Cera Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  background: #46A358;
  border-radius: 6px;
  padding: 15px 25px;
}
.options .options__block-first .options__block-first-inside .options__block-btn:hover {
  cursor: pointer;
  background-color: #FFF;
  color: #46A358;
  outline: 1px solid #46A358;
  transition: all 0.5s ease-in-out;
}
.options .options__block-second {
  display: flex;
  width: 47%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.options .options__block-second .img {
  width: 41%;
}
.options .options__block-second .options__block-second-inside {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.options .options__block-second .options__block-second-inside .options__block-second-header {
  color: #3D3D3D;
  text-align: center;
  font-family: Cera Pro;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  text-align: end;
  margin-bottom: 19px;
}
.options .options__block-second .options__block-second-inside .options__block-second-description {
  color: #727272;
  text-align: center;
  font-family: Cera Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-align: end;
  margin-bottom: 55px;
}
.options .options__block-second .options__block-second-inside .options__block-btn {
  color: #FFF;
  font-family: Cera Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  background: #46A358;
  border-radius: 6px;
  padding: 15px 25px;
}
.options .options__block-second .options__block-second-inside .options__block-btn:hover {
  cursor: pointer;
  background-color: #FFF;
  color: #46A358;
  outline: 1px solid #46A358;
  transition: all 0.5s ease-in-out;
}

.splide__slider-hide .splide__slide .options__block-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
}
.splide__slider-hide .splide__slide .options__block-first img {
  margin-bottom: 30px;
}
.splide__slider-hide .splide__slide .options__block-first .options__block-first-inside .options-block-first-header {
  text-align: center;
  margin-bottom: 20px;
  color: #3D3D3D;
  text-align: center;
  font-family: Cera Pro;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  text-align: end;
  margin-bottom: 19px;
}
.splide__slider-hide .splide__slide .options__block-first .options__block-first-inside .options__block-first-description {
  color: #727272;
  text-align: center;
  font-family: Cera Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  margin-bottom: 22px;
}
.splide__slider-hide .splide__slide .options__block-first .options__block-first-inside .options__block-btn {
  color: #FFF;
  font-family: Cera Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  background: #46A358;
  border-radius: 6px;
  padding: 15px 25px;
}
.splide__slider-hide .splide__slide .options__block-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
}
.splide__slider-hide .splide__slide .options__block-second img {
  margin-bottom: 30px;
}
.splide__slider-hide .splide__slide .options__block-second .options__block-second-inside .options-block-second-header {
  text-align: center;
  margin-bottom: 20px;
  color: #3D3D3D;
  text-align: center;
  font-family: Cera Pro;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  text-align: end;
  margin-bottom: 19px;
}
.splide__slider-hide .splide__slide .options__block-second .options__block-second-inside .options__block-second-description {
  color: #727272;
  text-align: center;
  font-family: Cera Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  margin-bottom: 22px;
}
.splide__slider-hide .splide__slide .options__block-second .options__block-second-inside .options__block-btn {
  color: #FFF;
  font-family: Cera Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  background: #46A358;
  border-radius: 6px;
  padding: 15px 25px;
}/*# sourceMappingURL=options.css.map */