@media (max-width: 950px) {
  .header__block-navigation {
    display: none;
  }
}
@media (min-width: 950px) {
  .header__burger-block {
    display: none;
  }
}
@media (max-width: 950px) {
  .header__block-sign-in {
    margin-right: 15px;
  }
}
@media (max-width: 530px) {
  .header__svg-options, .header__block-sign-in {
    display: none;
  }
}
/*******************************MOBILE 480PX **************************/
/************************************** < 700px ***************************/
@media (min-width: 580px) {
  .burger__block-main .burger__block-find-item {
    display: none;
  }
  .burger__block-main .burger__block-find-item .burger__find-field {
    display: none;
  }
  .burger__block-main .header__burger-block {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 580px) {
  .header__block-icons-person {
    display: none;
  }
}
@media (max-width: 580px) {
  .header__block-sign-in {
    display: none;
  }
}
@media (max-width: 580px) {
  .header__block-logo {
    display: none;
  }
}
@media (max-width: 580px) {
  .header__block-options {
    width: 100%;
  }
}
@media (min-width: 580px) {
  .header__burger-menu {
    display: none;
  }
}
@media (max-width: 950px) {
  .burger__block-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .burger__block-main .burger__block-find-item {
    width: 93%;
  }
  .burger__block-main .burger__block-find-item .burger__find-field {
    width: 100%;
    border: 1px solid rgba(70, 163, 88, 0.2019607843);
    padding: 10px 25px;
    border-radius: 10px;
    background: #F8F8F8;
  }
  .burger__block-main .burger__block-find-item .burger__find-field::-moz-placeholder {
    color: #A5A5A5;
    font-family: Cera Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
  }
  .burger__block-main .burger__block-find-item .burger__find-field::placeholder {
    color: #A5A5A5;
    font-family: Cera Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
  }
  .burger__block-main .header__burger-block {
    display: flex;
    align-items: center;
    background: #46A358;
    border-radius: 10px;
    width: 0%;
  }
  .burger__block-main .header__burger-block .header__burger-menu {
    display: flex;
    align-items: center;
    background-color: #46A358;
    border-radius: 10px;
  }
}
/*@media(min-width: 950px) {
    .header__burger-block {
        display: none;
    }
}
@media(max-width: 950px) {
    .burger__block-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    .burger__block-main .header__burger-block {
        display: flex;
        align-items: center;
        background: #46A358;
        border-radius: 10px;
        width: 6%;
    }
}
}*/
@media (max-width: 580px) {
  .burger__block-main .header__burger-block {
    display: flex;
    align-items: center;
    background: #46A358;
    border-radius: 10px;
    width: 6%;
  }
  .burger__block-main .header__burger-block .header__burger-menu {
    display: flex;
    align-items: center;
    background-color: #46A358;
    border-radius: 10px;
  }
}
@media (min-width: 950px) {
  .menu {
    display: none;
  }
}
@media (min-width: 950px) {
  .burger {
    display: none;
  }
}/*# sourceMappingURL=header.css.map */